{
  "extends": [
    "@myparcel-dev/eslint-config-prettier",
    "@myparcel-dev/eslint-config-esnext",
    "@myparcel-dev/eslint-config-node"
  ],
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "jsdoc/valid-types": "off",
    "max-len": "off",
    "no-template-curly-in-string": "off"
  }
}
